<!doctype html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PCloud23 - Homepage</title>
    <!-- Aggiungi i link alle risorse di Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- Header -->
    <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>Pervasive Computing e Cloud</h1>
      <p>Visualizzazione e analisi dell'estrazione di minerali da una cava industriale</p>
    </div>

    <!-- Bottone login -->
    <div class = "container mt-5">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 d-grid">
          <a href = "static/login.html"><button type="button" class="btn btn-primary btn-lg btn-block">Login</button></a>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

  </body>

</html>